<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Yinhe"
        android:allowBackup="true"
        android:theme="@style/Theme.Yinhe">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">
            <!-- GameActivity 加载的 native 库名（libyinhe_android.so） -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="yinhe_android" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
