<!-- Info.plist 追加片段（cargo-bundle osx_info_plist_exts）。
     内容会被插入到生成的 Info.plist 的 </dict> 之前，必须是键值对片段，不带 plist 头尾。
     注册 Finder 双击/右键"打开方式"的文档类型，配合 Apple Events 直接打开文件。 -->
<key>CFBundleDocumentTypes</key>
<array>
	<dict>
		<key>CFBundleTypeName</key>
		<string>MIDI File</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>LSHandlerRank</key>
		<string>Alternate</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>mid</string>
			<string>midi</string>
		</array>
	</dict>
	<dict>
		<key>CFBundleTypeName</key>
		<string>Yinhe Project</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>LSHandlerRank</key>
		<string>Owner</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>yin</string>
		</array>
	</dict>
	<dict>
		<key>CFBundleTypeName</key>
		<string>Compressed Archive</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>LSHandlerRank</key>
		<string>Alternate</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>zip</string>
			<string>7z</string>
			<string>rar</string>
			<string>tar</string>
			<string>gz</string>
			<string>xz</string>
		</array>
	</dict>
</array>
